/* Error: Undefined mixin.
 *    ,
 * 65 | / @include sm-xs {
 * 66 | |     .footer__btn {
 * 67 | |         margin: 0 20px;
 * 68 | |         font-size: 10px;
 * 69 | |     }
 * 70 | \ }
 *    '
 *   sass/libs/layout/_layout.scss 65:1  @import
 *   sass/mentions.scss 4:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 65 \2502  \250c  @include sm-xs {\a 66 \2502  \2502      .footer__btn {\a 67 \2502  \2502          margin: 0 20px;\a 68 \2502  \2502          font-size: 10px;\a 69 \2502  \2502      }\a 70 \2502  \2514  }\a    \2575 \a   sass/libs/layout/_layout.scss 65:1  @import\a   sass/mentions.scss 4:9              root stylesheet";
}
